.translateDropdown-container {
  padding: .5vw;
  border-radius: var(--DEFAULT_BORDER_RADIUS);
  font-size: var(--TEXT_SMALL);
  border-color: var(--DEFAULT_PURPLE);
  background-color: var(--DEFAULT_WHITE);
  font-family: 'Ubuntu';
}

.translateDropdown-container:focus {
  outline: none;
}
