.container {
  padding: .5vw;
  background-color: var(--DEFAULT_WHITE);
  border-radius: var(--DEFAULT_BORDER_RADIUS);
  font-size: var(--TEXT_SMALL);
  border-color: var(--DEFAULT_BLUE);
}

.container:focus {
  outline: none;
}
