.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  flex: 1;
}

.logo {
  width: 15%;
}

.menuFlags {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.menu {
  flex: 1;
  flex-direction: row;
  font-family: 'Roboto-Light';
  margin: auto 0;
}

.menu ul {
  list-style: none;
  margin: 0;
}

.menu li {
  float: right;
  margin: auto .5vw;
  font-size: var(--TEXT_NORMAL);
}

.menu li:hover {
  transition: linear 0.2s;
  color: var(--DEFAULT_BLUE);
}

.menu li:not(hover) {
  transition: linear 0.2s;
  color: var(--DEFAULT_BLACK);
}

.selectLanguage {
  margin-left: 1.5vw;
}

.homeBody {
  margin: 1vw auto 0 auto;
  text-align: center;
}

.title {
  font-family: 'Ubuntu';
  font-size: var(--TEXT_LARGEST);
}

.myPicture {
  border-radius: 50%;
}
