.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home-menu {
  position: fixed;
  right: 0;
  z-index: 10;
  box-shadow: 1px 1px 2px 1.5px rgba(0, 0, 0, 0.2);
  border-radius: var(--DEFAULT_BORDER_RADIUS);
  background-color: rgba(255, 255, 255, 1);
  margin: 1.5vw;
}

.home-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: .5vw 1vw;
}

.home-menu li {
  margin: auto .5vw;
  font-size: var(--TEXT_NORMAL);
}

.home-menu li:hover {
  transition: linear 0.2s;
  color: var(--DEFAULT_PURPLE);
  cursor: pointer;
}

.home-menu li:not(hover) {
  transition: linear 0.2s;
  color: var(--DEFAULT_BLACK);
}

.home-selectLanguage {
  margin-left: 1.5vw;
}

.home-body {
  text-align: center;
  margin-top: 7%;
}

.home-title {
  font-size: var(--TEXT_LARGEST);
}

@media all and (max-width: 465px) {
  .home-title {
    padding-top: 5vw;
  }
}

.home-myPicture {
  max-width: 70%;
  max-height: 70%;
  border-radius: 50%;
}

.home-hr {
  opacity: 0.3;
  max-width: 70%;
  margin-top: 3vw;
}
