.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.home-menuContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-top: 1vw;
}

.home-menu {
  flex: 1;
  flex-direction: row;
  margin: auto 0;
}

.home-menu ul {
  list-style: none;
  margin: 0;
}

.home-menu li {
  float: right;
  margin: auto .5vw;
  font-size: var(--TEXT_NORMAL);
}

.home-menu li:hover {
  transition: linear 0.2s;
  color: var(--DEFAULT_PURPLE);
  cursor: pointer;
}

.home-menu li:not(hover) {
  transition: linear 0.2s;
  color: var(--DEFAULT_BLACK);
}

.home-selectLanguage {
  margin-left: 1.5vw;
}

.home-body {
  text-align: center;
}

.home-title {
  font-size: var(--TEXT_LARGEST);
}

.home-myPicture {
  border-radius: 50%;
}

.home-hr {
  opacity: 0.3;
  max-width: 70%;
  margin-top: 3vw;
}
