.academicSection-cotuca {
  width: 15%;
  height: 15%;
}

.academicSection-ifspImage {
  width: 20%;
  height: 20%;
}

@media all and (max-width: 767px) {
  .academicSection-cotuca {
    width: 35%;
    height: 35%;
    margin-right: 55vw;
  }

  .academicSection-ifspImage {
    width: 45%;
    height: 45%;
    margin-left: 55vw;
  }
}
