:root {
  --DEFAULT_BLACK: rgba(0, 0, 0, 1);
  --DEFAULT_PURPLE: rgba(124, 77, 255, 1);
  --DEFAULT_WHITE: rgba(255, 255, 255, 1);

  --TEXT_SMALL: 15px;
  --TEXT_NORMAL: 18px;
  --TEXT_LARGEST: 50px;

  --DEFAULT_BORDER_RADIUS: 5px;
}

#root:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/img/bg.jpeg');
  width: 100%;
  height: 100%;
  opacity : 0.7;
  z-index: -1;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf');
}
