:root {
  --DEFAULT_BLACK: rgba(0, 0, 0, 1);
  --DEFAULT_PURPLE: rgba(124, 77, 255, 1);
  --DEFAULT_WHITE: rgba(255, 255, 255, 1);

  --TEXT_SMALLEST: 12px;
  --TEXT_SMALL: 15px;
  --TEXT_NORMAL: 18px;
  --TEXT_BIG: 35px;
  --TEXT_LARGEST: 50px;

  --DEFAULT_BORDER_RADIUS: 5px;
}

body {
  font-family: 'Roboto-Light';
  margin: 2vw 1.5vw;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf');
}
